<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/stordstatc.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
        <title>Completed Orders</title>
    </head>
    <body>
        <section class="section-plans">
            <div class="row">
                <div class="col span-10-of-12">
                    <img src="/images/person.png" style="border-radius: 20%; width: 5vw;">
                    <div style="display: inline-block; vertical-align: super">

                        <%= restaurant.name %>
                        
                        
                    </div>
                </div>
                <!--
                <div class="col span-1-of-12"><a style="text-decoration: none; background-color: #B61010; padding: 10% 20%; color: white; vertical-align: text-bottom; margin-top: 20%; margin-bottom: 20%; box-shadow: 4px 4px 10px rgba(72, 39, 10, 0.15)" href="empprof.php">Profile</a></div>
            -->
                <div class="col span-1-of-12"><a style="text-decoration: none; background-color: #B61010; padding: 10% 20%; color: white; vertical-align: text-bottom; margin-top: 20%; margin-bottom: 20%; box-shadow: 4px 4px 10px rgba(72, 39, 10, 0.15)" href="/owner/logout">Logout</a></div>

            </div>
        </section>
        <section class="section-plans">
			<div class="row">
				<h2>Order History :</h2>
			</div>
		</section>
        <section class="section-cant">
            <div class="row">
                <table>
                    <tr>
                        <td width=15 style="text-align: center;"><strong>Order Number</strong></td>
                        <td width=15 style="text-align: center;"><strong>Order</strong></td>
                        <td width=15 style="text-align: center;"><strong>Price</strong></td>
                        <td width=15 style="text-align: center;"><strong>Status</strong></td>
                        <td width=15 style="text-align: center;"><strong>Feedback</strong></td>
                    </tr>
                    <% for(var i=0; i<orders.length; i++) { %>
                        <% if (orders[i].status == "Accepted" || orders[i].status == "Pending") {%>
                            <% } else {%>
                    <tr>
                        <td width=15 style="text-align: center;"><%= orders[i].order_id %></td>
                        <td width=12 style="text-align: center;">
                            <% for (var j=0;j<orders[i].orderItems.length;j++) {%>
                                <%= orders[i].orderItems[j].menuItemName %> (x <%= orders[i].orderItems[j].quantity %> ),
                              <% } %>
                        </td>
                        <td width=15 style="text-align: center;"><%= orders[i].price %></td>
                        <td width=15 style="text-align: center;"><%= orders[i].status %></td>
                        <td width=15 style="text-align: center;"><%= orders[i].feedback %></td>
                    </tr>
                    <% } %>
                    <% } %>
                    
                </table>
            </div>
        </section>
        <section class="section-plans">
            <div class="row">
                <a style="text-decoration: none; color: white;" href="<%- '/restaurant/current-orders/?ownerId=' + owner._id %>">
                    <div class="col span-4-of-11" style="box-shadow: 4px 4px 10px rgba(12, 10, 72, 0.15); text-align: center; padding: 1%;border: 2px solid #B61010;background-color: #B61010;">
                        Current Orders
                    </div>
                </a>
                <div class="col">&nbsp;</div>
                <a style="text-decoration: none; color:#B61010;" href="<%- '/restaurant/dashboard/?ownerId=' + owner._id %>">
                    <div class="col span-4-of-11" style="box-shadow: 4px 4px 10px rgba(72, 39, 10, 0.15); text-align: center; padding: 1%;border: 2px solid #B61010;">
                        Dashboard
                    </div>
                    </a>
                <div class="col">&nbsp;</div>
                <a style="text-decoration: none; color:#B61010;" href="<%- '/restaurant/update-menu/?ownerId=' + owner._id %>">
                    <div class="col span-4-of-11" style="box-shadow: 4px 4px 10px rgba(72, 39, 10, 0.15); text-align: center; padding: 1%;border: 2px solid #B61010;">
                        Update Menu
                    </div>
                    </a>
                </span>
            </div>
        </section>
   </body>
</html>